/*
   --- GLOBAL --- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
img {
    display: block;
}
body {
    width: 100vw;
    background-color: rgb(123, 95, 87);
}


/* --- HEADER --- */

header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.192);
    /* margin-bottom: 3rem; */
}

header hr {
    grid-column: 1 / -1;
}

header nav button {
    display: flex;
}

header nav ul {
    display: none;
}

#secondary-nav {
    grid-column: 1 / -1;
}
#secondary-nav ul {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    line-height: 2.3rem;
    list-style: none;
}
#secondary-nav ul :last-child {
    color: hotpink;
}


/* --- MAIN --- */

main {
    max-width: 80rem;
    margin: 0 auto;
    background-color: bisque;
    margin-top: 2rem;
}

.annonce {
    background-color: aquamarine;
    height: 16rem;
    display: grid;
    margin-bottom: 3rem;
}

.annonce figcaption {
    width: max-content;
    height: fit-content;
    transform: rotate(90deg);
    justify-self: right;
    margin-right: -2.7rem;
    color: hotpink;
}

article {
    display: grid;
}