/*
   --- GLOBAL --- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    /* color: bisque; */
}
html{
    --softbrown: rgb(123, 95, 87);
}
img {
    display: block;
}
body {
    /* width: 100vw; */
    /* background-color: var(--softbrown) */
}
button {
    /* background-color: var(--softbrown); */
    padding: .5rem;
}





/* --- HEADER --- */

header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.192);
    /* margin-bottom: 3rem; */
}
header hr {
    grid-column: 1 / -1;
}
header nav button {
    display: flex;
}
header nav ul {
    display: none;
}
#secondary-nav {
    grid-column: 1 / -1;
}
#secondary-nav ul {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    line-height: 2.3rem;
    list-style: none;
}
#secondary-nav ul :last-child {
    color: red;
}





/* --- MAIN --- */

main {
    max-width: 80rem;
    margin: 0 auto;
    /* background-color: bisque; */
    margin-top: 2rem;
}
.annonce {
    background-color: darkgray;
    height: 16rem;
    display: grid;
    margin-bottom: 3rem;
}
.annonce figcaption {
    width: max-content;
    height: fit-content;
    transform: rotate(90deg);
    justify-self: right;
    margin-right: -2.7rem;
    color: darkgray;
}





/* --- MAIN / PRIMÆR --- */

.main-article {
    display: grid;
    grid-template-columns: 2fr 6fr;
}
.main-article > :is(:first-child, :nth-child(2), :nth-child(3)) {
    grid-column: 2/-1;
    margin-bottom: .7rem;
}
/* .main-article > :first-child {
    color: blue;
} */
.sub-h1 {
    font-weight: 700;
    color: red;
}
.sub-h1 > span {
    font-weight: 400;
    color: darkgray;
}
h1 {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.intro {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 2fr 6fr;
    margin-bottom: 3.5rem;
}
.intro > img {
    grid-column: 2 / -1;
    background-color: darkgray;
    aspect-ratio: 1 / .65;
}
.intro figcaption {
    grid-row: 1 / 2;
}
.fotograf > img {
    display: inline;
}





/* --- MAIN / PRIMÆR / EFTER BILLEDET --- */

.firstofsection {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
h4 {
    color: red;
    font-weight: 700;
    font-weight: 1.5rem;
}
/* .firstofsection:is( + hr, + figure) {
    grid-column: 1 / 2;
} */
.firstofsection + hr {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
.visitkort1 {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    display: grid;
}
.visitkort1 > img {
    grid-area: 1 / 1 / 2 / -1;
}
.visitkort2 {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}
.artikel-content {
    position: relative;
    /* display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr; */
}
.right {
    grid-column: 2 / -1;
    grid-row: 5 / 8;
}
.right2{
    justify-self: end;
}
.above {
    display: flex;
    grid-row: 5 / 6;
}
.below {
    grid-row: 6 / 8;
}
.artikel {
    grid-row: 6 / 7;
}
.somebuts {
    float: right;
    grid-row: 6 / 8;
    margin-bottom: 3rem;
}
.abostop {
    position: absolute;
    text-align: center;
    grid-row: 6 / 7;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, white 60%, rgba(255,255,255,0) 100%);
    bottom: .01rem;
    padding-top: 5rem;
    width: 100%;
    margin-top: -6rem;
}
.abostop :first-child {
    font-weight: 700;
    font-size: 1.2rem;
}
.abostop :nth-child(2) {
    margin-top: 3rem;
    background-color: red;
    padding: 1rem 6rem;
    color: white;
    border-radius: .3rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-top: 3rem;
}
.abostop :nth-child(3) {
    color: darkgray;
}
.abostop :nth-child(3) a {
    color: black;
    font-weight: 400;
    font-size: inherit;
}





/* --- MAIN / INSPIRATION --- */

.inspiration {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}
.inspiration > h3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    color: red;
    font-size: 1.4rem;
    font-weight: 700;
}
.inspiration > button {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    width: 1rem;
    aspect-ratio: 1;
    justify-self: end;
}
.pil-l {
    margin-right: 1.5rem;
}
.inspiration > hr {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
}
.inspiration figure img {
    background-color: darkgray;
    height: 10rem;
}




/* --- MAIN / SENESTE NYT --- */

h4